h1, h2, h3, h4, h5, h6 {
	font-family: Kefa, "Bookman Old Style", Georgia, Times, Serif;
	font-weight: bold;
	margin: 0.5em 0 0.3em;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2.1em; }
h3 { font-size: 2.0em; }
h4 { font-size: 1.8em; }
h5 { font-size: 1.7em; }
h6 { font-size: 1.6em; }

header {
	display: block;
	overflow: hidden;
	width: 100%;
}

#mainpage_header {
	margin-bottom: 2.2em;
}

header h1 {
	font-weight: bold;
	font-size: 4.3em;
	text-align: center;
	margin: 100px auto 10px;
	color: #222;
}

header a {
	text-decoration: none;
}

.mainpage header h1 {
	color: #FFF;
	margin: 350px auto 40px;
	text-shadow: #333 0 2px;
}

body {
	font: 1.4em Georgia, "Bookman Old Style", Times, Serif;
	background: #FFF none;
	color: #333;
}

section#main {
	display: block;
	width: 800px;
	margin: 0 auto;
	background: #FFF none;
}

nav {
	padding: 10px 0 30px;
	text-align: center;
}

nav a {
	display: inline;
	font-weight: bold;
	font: 1.7em Kefa, "Bookman Old Style", Georgia, Times, Serif;
	padding: 2px;
	margin: 5px 15px;
	color: #333;
	border-bottom: 2px solid rgba(51, 51, 51, 0);
	text-decoration: none;
	-webkit-transition: border-color 0.5s;
	transition: border-color 0.5s;
}

.mainpage nav a {
	color: #FFF;
	border-bottom-color: rgba(255, 255, 255, 0);
}

.mainpage nav a.current, .mainpage nav a:hover {
	border-bottom-color: rgba(255, 255, 255, 255);
}

nav a.current, nav a:hover {
	border-bottom-color: rgba(51, 51, 51, 255);
	text-decoration: none;
}

.content p { text-align: justify; }
.content p, .content ul, .content ol {
	line-height: 1.6em;
}
.content ul.article_list {
	line-height: inherit;
}

.content a {
	text-decoration: none;
	color: #16b1c3;
}
.content a:visited { color: #0d7581; }
.content a:hover { text-decoration: underline; }

.content blockquote:before {
	position: absolute;
	top: 5px;
	left: 5px;
	content: "“";
	font-size: 2em;
}

.content blockquote:after {
	position: absolute;
	bottom: 0px;
	right: 10px;
	content: "”";
	font-size: 2em;
}

.content blockquote {
	position: relative;
	padding: 15px 30px 15px 40px;
	font-style: italic;
	font-weight: bold;
	margin: 1em 0 1em 1.5em;
}

.content blockquote p {
	margin-top: 0;
	margin-bottom: 0;
}

.content img,
.content pre,
.content p code {
	border-radius: 3px;
	border-bottom: 2px solid #999;
}

.content img {
	display: block;
	padding: 5px;
	background: #EEE none;
	margin: 0 auto;
	max-width: 95%;
	height: auto;
}

.content table table,
.content table th,
.content table td {
	border-collapse: collapse;
}

.content table {
	margin: 0 auto;
	width: 90%;
}

.content table td,
.content table th {
	padding: 10px;
}

.content table thead {
	border-bottom: 1px solid #999;
}

.content table tfoot {
	border-top: 1px solid #999;
}

.content img.avatar {
	float: right;
	width: 160px;
	height: auto;
	margin-top: 1.5em;
	border-radius: 90px;
}

content .caption {
    display: block;
	text-align: center;
	font-style: italic;
	color: #666666;
	margin-top: 0.2em;
	font-size: 0.8em;
}

.content pre,
.content p code {
	background: #EEE none;
	font-family: Melno, Monaco, Consolas, Monospace;
	color: #333;
}

.content p > code {
	display: inline;
	padding: 1px 5px;
}

.content pre {
	display: block;
	padding: 15px;
}

.article_list {
	list-style-type: none;
	padding: 0;
	position: relative;
	display: block;
}

.postheader {
	position: relative;
	display: block;
}

.postheader h1 {
	padding-right: 150px;
}

.postheader h1 a, .postheader h1 a:visited {
	text-decoration: none;
	color: #333;
	display: block;
}
.postheader h1 a:hover {
	text-decoration: none;
	color: #16b1c3;
}
.postheader h1 a:hover:before {
	content: "§";
	color: #16b1c3;
	position: absolute;
	left: -50px;
}

.article_list a.readmore {
	text-align: right;
	display: block;
	width: 100%;
	font-size: 0.8em;
}

.postheader .info {
	padding: 0 0 3px;
	margin: 0;
	position: absolute;
	width: 140px;
	right: 0;
	bottom: 0;
	text-align: right;
	color: #999;
	background: transparent none;
}


footer {
	display: block;
	overflow: hidden;
	width: 100%;
	text-align: center;
	color: #DDD;
	font-size: 0.9em;
	margin: 2em auto;
}
