<head>
	<!-- Boring Stuff -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<!-- Interesting Stuff  -->
	<title>{{ page.title }} - {{ site.name }}</title>
	<link rel="stylesheet" href="/css/normalize.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/css/common.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" />

	<!-- RSS :-) -->
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />
</head>
