<head>
	<!-- Boring Stuff -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
        <meta name="viewport" content="width=device-wdith,initial-scale=1">
        <meta charset="UTF-8">
	
	<!-- Interesting Stuff  -->
	<title>{{ page.title }} - {{ site.name }}</title>
	<link rel="stylesheet" href="/css/all.css" type="text/css" media="screen" />

	<!-- RSS :-) -->
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />

	<!-- Script for Dark Mode Toggle-->
    <script type="module" src="/js/dark.js"></script>
</head>
