:root {
    --col-hl-bleached-bone: #CE972E;
    --col-hl-zesty-lime: #B9CE2E;
    --col-hl-so-orange: #FB6226;
    --col-hl-aubergene: #AC7C94;
    --col-hl-pinkit: #F75790;
    --col-hl-soblue: #16b1c3;

    --col-hl-fg: var(--col-fg, #222);
    --col-hl-fg-sutble: var(--col-fg-subtle, #333);
    --col-hl-fg-dimmed: var(--col-fg-dimmed, #666);
    --col-hl-bg: var(--col-bg, #FFF);
    --col-hl-bg-subtle: var(--col-bg-subtle, #F9F9F9);
    --col-hl-bg-dimmed: var(--col-bg-dimmed, #999);
}

.highlight .nc {
    color: var(--col-hl-aubergene);
}

.highlight .na {
    color: var(--col-hl-zesty-lime);
}

.highlight .nb {
    color: var(--col-hl-bleached-bone);
}

.highlight .nv {
    color: var(--col-hl-fg-dimmed);
}

.highlight .nn {
    color: var(--col-hl-zesty-lime);
}

.highlight .nf,
.highlight .nc {
    color: var(--col-hl-aubergene);
    font-weight: bold;
}

.highlight .k {
    color: var(--col-hl-pinkit);
    font-weight: bold;
}

.highlight .kt {
    color: var(--col-accent);
}

.highlight .c,
.highlight .c1 {
    color: var(--col-hl-bg-dimmed);
}

.highlight .m {
    color: var(--col-hl-so-orange);
}

.highlight .mi {
    color: var(--col-hl-so-orange);
}

.highlight .s {
    color: var(--col-hl-so-orange);
}

.highlight .s2 {
    color: var(--col-hl-bleached-bone);
}

.highlight .se {
    color: var(--col-hl-bleached-bone);
}

.highlight .nt {
    color: var(--col-hl-pinkit);
}

.highlight .cp {
    color: var(--col-hl-zesty-lime);
}

.highlight .o {
    color: var(--col-hl-fg-dimmed);
}